body {
  /* Changed background from red to
  neutral color and font color. */
  background-color: #E2D2CB;
  color: #05414A;
}

nav {
  /* Changed nav background-color to
  a dark blue and altered opacity. */
  background-color: rgba(5,65,74,1.0);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  /* Re-sized pic and aligned with text. */
  width: 100%;

}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

/* New css properties assignment changes. */

a {
  text-decoration: none;
  color: #fccd42;
}

.author {
  font-size: 20px;
  font-weight: bold;
  font-style: oblique;
  line-height: 1.5em;
  padding-bottom: 2em;
}

figure {
  padding-bottom: 3em;
}

figcaption {
  font-size: 12px;
  font-style: oblique;
  line-height: 1.5em;
}

li {
  font-size: 16px;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 2em;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  font-style: oblique;
  line-height: 1.5em;
}

p {
  font-size: 20px;
  line-height: 1.5em;
}
